{
    "nodes": {
        "YOUR_NODE_NAME": "YOUR_NODE_IP_ADDRESS",
        "YOUR_NODE_NAME_2": "YOUR_NODE_IP_ADDRESS_2"
    },
    "vultr_regions": {
        "YOUR_NODE_NAME": "YOUR_NODE_REGION",
        "YOUR_NODE_NAME_2": "YOUR_NODE_REGION_2"
    },
    "mpic_api_key": "YOUR_OPEN_MPIC_API_KEY",
    "certificate_authorities": [
        {
            "name": "YOUR_CA_NAME",
            "endpoint": "YOUR_CA_ENDPOINT",
            "arguments": "YOUR_REQUEST_ARGUMENTS"
        }
    ]
}